canvas {
  height: 100vh;
}
.container {
  margin: 0 auto;
  position: relative;
  display: flex;
}
.logo {
  margin-top: 15px;
}
.fa {
  color: rgba(247, 45, 45, 0.932);
}
.texts {
  text-align: left;
}
.text {
  color: #ff6347;
}
.text1 {
  color: #ffc04a;
}

.paragraph {
  font-size: 18px;
  position: relative;
  color: white;
  text-align: justify;
}

/* responsive */

@media screen and (max-width: 500px) {
  .container {
    position: relative;
    max-width: 350px;
    width: 300px;
  }
  .logo {
    position: relative;
    margin-top: 25px;
  }
  .text {
    font-size: 21px;
  }
  .text1 {
    font-size: 18px;
  }
  .paragraph {
    font-size: 15px;
  }
  .logo {
    height: 18vh;
  }
}
@media screen and (min-width: 500px) {
  .container {
    position: relative;
    max-width: 450px;
    width: 450px;
  }
  .text {
    font-size: 25px;
  }
  .text1 {
    font-size: 20px;
  }
  .paragraph {
    font-size: 16px;
  }
  .logo {
    height: 18vh;
  }
}
@media screen and (min-width: 700px) {
  .container {
    position: relative;
    max-width: 660px;
    width: 660px;
  }
  .text {
    font-size: 27px;
  }
  .text1 {
    font-size: 22px;
  }
  .paragraph {
    font-size: 18px;
  }
  .logo {
    height: 22vh;
  }
}
@media screen and (min-width: 900px) {
  .container {
    position: relative;
    max-width: 850px;
    width: 850px;
  }
  .text {
    font-size: 28px;
  }
  .text1 {
    font-size: 23px;
  }
  .paragraph {
    font-size: 18px;
  }
  .logo {
    height: 25vh;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
  .text {
    font-size: 2vw;
  }
  .text1 {
    font-size: 2vw;
  }
  .paragraph {
    font-size: 1.5vw;
  }
  .logo {
    height: 25vh;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1000px;
    width: 1000px;
  }
  .text {
    font-size: 2vw;
  }
  .text1 {
    font-size: 1.7vw;
  }
  .paragraph {
    font-size: 1.2vw;
  }
  .logo {
    height: 25vh;
  }
}
