.tab {
  list-style-type: none;
  display: inline-block;
  width: 15vw;
}
.tab button {
  cursor: pointer;
  color: #2d3047;
  background-image: linear-gradient(
    to right,
    #ffc04a,
    #ffaa42,
    #ff943f,
    #ff7c41,
    #ff6347
  );
  height: 6vh;
  width: 8vw;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
}
.tab button:hover {
  background-image: linear-gradient(
    to left,
    #ffc04a,
    #ffaa42,
    #ff943f,
    #ff7c41,
    #ff6347
  );
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.tab button:focus {
  outline: 0;
}

/*responsive */
@media screen and (max-width: 500px) {
  .tab button {
    width: 95px;
    font-size: 15px;
  }
  .tab {
    width: 110px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .tab button {
    width: 100px;
    font-size: 16px;
  }
  .tab {
    width: 120px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  .tab button {
    width: 160px;
    font-size: 16px;
  }
  .tab {
    width: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .tab button {
    width: 160px;
    font-size: 17px;
  }
  .tab {
    width: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tab button {
    width: 160px;
    font-size: 18px;
  }
  .tab {
    width: 200px;
  }
}
