.card {
  color: white;
  border-radius: 15px;
  background: #fccb704b;
  font-family: "Montserrat", sans-serif;
}
.rightPart {
  margin: 0 auto;
}
.cardText {
  position: relative;
}
.form {
  position: relative;
  border-radius: 15px;
}
.cardButtons {
  display: flex;
  justify-content: space-evenly;
  max-width: 20vw;
  margin: 10% auto;
}
.cardButtons button {
  cursor: pointer;
  background: white;
  height: 6vh;
  width: 8vw;
  border: 2px solid #ffc04a;
  border-radius: 15px;
  font-size: 15px;
}
.cardButtons button:focus {
  outline: 0;
}
.cardButtons button:hover {
  background: #2d3047;
  color: white;
  border: 2px solid #ff6347;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
/* responsive */

@media screen and (max-width: 500px) {
  .card {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    width: 300px;
    height: 330px;
  }
  .cardText {
    position: relative;
    line-height: 15px;
  }
  .card h1 {
    position: relative;
    font-size: 19px;
    margin-top: 10px;
  }
  .card h3 {
    display: none;
  }
  .form {
    width: 250px;
    height: 180px;
    margin: 20px auto;
    left: 0%;
  }
  .cardButtons {
    margin-top: 10%;
    max-width: 20vw;
  }
  .cardButtons button {
    font-size: 14px;
    height: 5vh;
    width: 14vh;
    margin: 0px 5px;
  }
}
@media screen and (min-width: 500px) {
  .card {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    width: 300px;
    height: 360px;
  }
  .cardText {
    position: relative;
    line-height: 15px;
  }
  .card h1 {
    position: relative;
    font-size: 23px;
    margin-top: 10px;
  }
  .card h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .form {
    width: 250px;
    height: 180px;
    margin: 20px auto;
    left: 0%;
  }
  .cardButtons {
    /*margin-top: 10%;*/
    max-width: 20vw;
  }
  .cardButtons button {
    font-size: 15;
    height: 5vh;
    width: 14vh;
    margin: 0px 5px;
  }
}
@media only screen and (min-width: 700px) {
  .card {
    display: flex;
    margin: 40px auto;
    flex-direction: row;
    width: 570px;
    height: 270px;
    align-items: center;
  }
  .rightPart {
    margin: 0 auto;
    max-width: 240px;
  }
  .cardText {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .cardText h1 {
    position: relative;
    font-size: 21px;
    margin-top: 20px;
    line-height: 30px;
  }
  .cardText h3 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 30px;
  }
  .form {
    width: 260px;
    height: 210px;
    margin: 0 auto;
  }
  .cardButtons {
    margin-top: 10px;
  }
  .cardButtons button {
    font-size: 15px;
    height: 5vh;
    width: 14vh;
  }
}
@media only screen and (min-width: 900px) {
  .card {
    display: flex;
    margin: 40px auto;
    flex-direction: row;
    width: 650px;
    height: 250px;
    align-items: center;
  }
  .rightPart {
    margin: 0 auto;
    max-width: 280px;
  }
  .cardText h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .cardText h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  .form {
    width: 270px;
    height: 210px;
    margin: 0 auto;
  }
  .cardButtons {
    margin-top: 10px;
  }
  .cardButtons button {
    font-size: 17px;
    height: 5vh;
    width: 17vh;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    display: flex;
    margin: 40px auto;
    flex-direction: row;
    width: 700px;
    align-items: center;
  }
  .rightPart {
    margin: 0 auto;
    max-width: 280px;
  }
  .cardText h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .cardText h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .form {
    width: 280px;
    height: 210px;
    margin: 0 auto;
  }
  .cardButtons {
    margin-top: 10px;
  }
  .cardButtons button {
    font-size: 17px;
    height: 5vh;
    width: 18vh;
  }
}
