.socialWrapper h1 {
  color: white;
  font-size: 2.4vw;
}
.icon {
  position: absolute;
  width: 100%;
  margin-top: 10%;
  display: block;
  color: #2d3047;
  font-size: 3em;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.socialWrapper {
  max-width: 100%;
  min-height: 20vh;
  text-align: center;
  margin: 80px auto;
  float: none;
}

.socialWrapper ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
}
.socialWrapper ul li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin: 0 20px 20px 20px;
  text-align: center;
  background: #fff;
  border: solid 6px #ffc04a;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #2d3047;
  text-decoration: none;
}
.socialWrapper ul li:hover {
  border: solid 6px #ff6347;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.socialWrapper a:link .fa,
.socialWrapper a:visited .fa {
  color: #2d3047;
}

/*responsive */
@media screen and (max-width: 500px) {
  .socialWrapper h1 {
    font-size: 22px;
  }
  .socialWrapper ul li {
    width: 60px;
    height: 60px;
  }
  .icon {
    font-size: 2.2em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .socialWrapper h1 {
    font-size: 22px;
  }
  .socialWrapper ul li {
    width: 60px;
    height: 60px;
  }
  .icon {
    font-size: 2.2em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  .socialWrapper h1 {
    font-size: 24px;
  }
  .socialWrapper ul li {
    width: 70px;
    height: 70px;
  }
  .icon {
    font-size: 2.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .socialWrapper h1 {
    font-size: 28px;
  }
  .socialWrapper ul li {
    width: 80px;
    height: 80px;
  }
  .icon {
    font-size: 3em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .socialWrapper h1 {
    font-size: 32px;
  }
  .socialWrapper ul li {
    width: 80px;
    height: 80px;
  }
  .icon {
    font-size: 3em;
  }
}
