* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
  font-family: "Roboto", sans-serif;
}
.cardMain {
  position: relative;
  margin-top: 105%;
}
.social {
  position: absolute;
  margin-top: 105%;
}

/*responsive */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .header {
    top: -25%;
  }
  .cardMain {
    top: 125%;
  }
  .social {
    top: 285%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cardMain {
    top: 30%;
  }
  .social {
    top: 105%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cardMain {
    top: 2%;
  }
  .social {
    top: 55%;
  }
  .header {
  }
}
