* {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  position: relative;
}
.cardMain {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.social {
  position: relative;
}
